version https://git-lfs.github.com/spec/v1
oid sha256:f742e29df5cb55c190cc06f308d100f4ee0d4eec58018b18c9983d2262c1c2ad
size 226
*.a filter=lfs diff=lfs merge=lfs -text
Frontend/**/*.png !text !filter !merge !diff
